export INFURA_ID=df5f76bf344d403ab256b967420ef361
export ETHERSCAN_API_KEY=J4V5S8SIF5SAUSNI3TE1VX3KDQYZDEDDM6
export POLYSCAN_API_KEY=2PE7AM93DN35P3FF92TXIQZDHMCWWNIZC2
export OPTIMISM_ETHERSCAN_API_KEY=BR3A1GGVMCV4AGXTQV5FC7ZH4WDWY7SH3A
export ARBITRUM_SEPOLIA_API_KEY=E8NYDE4FRKZDUEM6PF798PEWG4JVQKD7WP

export API_URL_SEPOLIA=https://eth-sepolia.g.alchemy.com/v2/TglMAqEMJJmA6CgLQs2dUhsZwzVBT_e-
export API_URL_ETHEREUM=https://eth-mainnet.g.alchemy.com/v2/jlllQDNEfGx2lJ_Kvh6v4VQuhsdtaJy3
export API_URL_POLYGON_MUMBAI=https://polygon-mumbai.g.alchemy.com/v2/kprbP1MSLI1kxkU-4BNN9-AVKg0Iiyy_
export API_URL_POLYGON=https://polygon-mainnet.g.alchemy.com/v2/EOJWmf4hs_aRYGuWUmkiQIpW0PtBSbAX
export API_URL_ARBITRUM_SEPOLIA=https://arb-sepolia.g.alchemy.com/v2/6RXYEYGhcHh_IS1XGHK2tax6h2tgLi-4
